<h1> <%= t('products') %> </h1>

<p>
    <%= link_to "New Product", new_product_path(), class: 'btn btn-primary' %>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>  
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th style="width: 135px; text-align:center"></th>
        </tr>
    </thead>

    <%= render(@products) %>
</table>